@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif,
               'Apple Color Emoji', 'Segoe UI Emoji',
               'Segoe UI Symbol', 'Noto Color Emoji';

        --color-custom: #054204;
        /* --color-custom: #050f2a; */
        
        --color-custom-2:#e8e0d6;
        --color-custom-3:#d3df37;

}

.star {
            font-size: 20px;
            cursor: pointer;
            transition: color 0.2s;
        }
